:root {
  --primary-color: #1aac83;
  --error-color: #e7195a;
}

body {
  background-color: #f1f1f1;
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #fff;
}

header .contain {
  max-width: 1400px;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
